*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
#cuerpo{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    "encabezado"
    "contenedorPrincipal"
    "piePagina"
    ;
}
        /* encabezado*/

#encabezado{
    background-color: #545454;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    grid-area: encabezado; 
}

.encabezado__menu a{
    color: white;
    text-decoration: none;
}
.encabezado__menu a:hover{
    color: gold;
}
header nav ul{
    list-style: none;
}
.encabezado__imagen{
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 30px;
}








        /*contenedor principal*/



/*tarjeta*/
.tarjeta--primario{
    background-color: #545454;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    padding: 15px;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;
}
.tarjeta--secundario{
    background-color: #545454;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    height: 400px;
    margin: 30px;

}

/*imagenes tarjetas*/
.imagen-tarjeta--primario{
    width: 300px;
    height: 200x;
    border: 3px solid black;
    border-radius: 30px;

}
.imagen-tarjeta--secundario{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 20px;
    
}
/*boton*/
.boton{
    background-color: #054e5d;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    margin: 20px;
}
.boton:hover{
color: black;
background-color: gold;
}

.baner{
    background-image: url(../imagenes/baner-antartida.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%
}
.baner__titulo{
    font-size: 100px;
}
.baner__subtitulo{
    font-size: 40px;
}
.tarjetas-introductorias__titulo{
    font-size: 40px;
}
#contenedorPrincipal{
grid-area: contenedorPrincipal;
}





/* pie de pagina */
#piePagina{
    background-color: #545454;
    color: white;
    height: 35px;
    text-align: center;
    grid-area: piePagina;
}
#piePagina a{
    color: white;
    text-decoration: none;
}
#piePagina a:hover{
    color: gold;
}
